<!-- footer section -->
<footer
  class="footer_section custom-footer"
  style="
    width: 100%;
    background: #222;
    color: #fff;
    position: relative;
    left: 0;
    bottom: 0;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Contact Us</h4>
          <div class="contact_link_box">
            <a href="#"
              ><i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Location</span></a
            >
            <a href="tel:+011234567890"
              ><i class="fa fa-phone" aria-hidden="true"></i>
              <span>Call +91 6282679552</span></a
            >
            <a href="mailto:demo@gmail.com"
              ><i class="fa fa-envelope" aria-hidden="true"></i>
              <span>DERYY@gmail.com</span></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="#" class="footer-logo">Derry World</a>
          <p>
            Bringing global flavors together, Derry World Restaurant is your
            gateway to authentic dishes from every corner of the world.
          </p>
          <div class="footer_social">
  <a href="#"><i class="fab fa-facebook-f"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-pinterest-p"></i></a>
</div>

        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>Opening Hours</h4>
        <p>Everyday</p>
        <p>10.00 Am - 10.00 Pm</p>
      </div>
    </div>
    <div class="footer-info" style="text-align: center; margin-top: 20px">
      <p>
        &copy; <span id="displayYear">2025</span> All Rights Reserved By
        <a href="https://html.design/" style="color: #ffbe33"
          >MEGHA GOPALAKRISHNAN</a
        ><br />
        &copy; <span id="displayYear">2025</span> Distributed By
        <a href="https://themewagon.com/" target="_blank" style="color: #ffbe33"
          >DERRY WORLD</a
        >
      </p>
    </div>
  </div>
</footer>
<!-- Only include scripts here if not already included globally -->
