<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Derry World</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <style>
      .user_option {
        display: flex;
        align-items: center;
        margin-left: 15px;
        gap: 25px;
      }

      .user_info {
        display: flex;
        align-items: center;
      }

      .user_name {
        color: white;
        margin: 0 10px;
        font-size: 16px;
      }

      .logout_link {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        transition: all 0.3s;
        padding-left: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
      }

      .logout_link:hover {
        color: #ffbe33;
        text-decoration: none;
      }

      .user_info i {
        font-size: 18px;
      }

      .cart_link {
        position: relative;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
      }

      .cart_link:hover {
        color: #ffbe33;
        text-decoration: none;
      }

      .cart_link i {
        font-size: 20px;
      }

      .cart-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #ffbe33;
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .nav-item .nav-link {
        padding: 8px 15px;
        transition: all 0.3s;
      }

      .nav-item .nav-link:hover {
        color: #ffbe33;
      }

      @media (max-width: 991px) {
        .user_option {
          margin-top: 15px;
          flex-wrap: wrap;
        }
        
        .cart_link {
          margin: 10px 0;
        }
      }
    </style>
  </head>

  <body>
    <div class="hero_area">
      <div class="bg-box">
        <img src="images/hero-bg.jpg" alt="" />
      </div>

      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span>Derry World</span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="menu">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <% if (user) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
                <% } %>
              </ul>
              <div class="user_option"> 
                <% if (user) { %> 
                  <div class="user_info">
                    <i class="fa fa-user" aria-hidden="true" style="color: #ffbe33;"></i>
                    <span class="user_name"><%= user.name %></span>
                  </div>
                  <a href="/cart" class="cart_link">
                    <i class="fa fa-shopping-cart" style="color: #ffbe33;"></i>
                    <% if (typeof cartCount !== 'undefined' && cartCount > 0) { %>
                      <span class="cart-count"><%= cartCount %></span>
                    <% } %>
                  </a>
                  <a href="/logout" class="logout_link">Logout</a>
                <% } else { %>
                <a class="user_link" href="/login">Login</a>
                <a class="user_link" href="/register">Register</a>
                <% } %>
              </div>
            </div>
          </nav>
        </div>
      </header>
   