
  


  <%- include('../../views/partials/admin/header') %>


      <!-- Main Content -->
      <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
        <h1>Welcome to Dashboard</h1>
        <!-- Your main content goes here -->
      </main>
   
      <%- include('../../views/partials/admin/footer') %>