<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="Derry World, Travel, Reset Password" />
    <meta name="description" content="Reset your password for Derry World and get back to exploring the best of everything!" />
    <meta name="author" content="Derry World" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Reset Password - Derry World</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
</head>
<body>
    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="Background Image" class="img-fluid" />
        </div>
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="/">
                        <span>Derry World</span>
                    </a>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <div class="login-container">
                        <h2 class="text-center">Reset Password</h2>
                        
                        <% if (errorMessage) { %>
                            <p style="color: red;"><%= errorMessage %></p>
                        <% } %>
                        <% if (successMessage) { %>
                            <p style="color: green;"><%= successMessage %></p>
                        <% } %>

                        <form action="/resetPassword/<%= token %>" method="post">
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="password" name="password" required />
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
                            </div>
                            <button type="submit" class="btn btn-login btn-block">Reset Password</button>
                        </form>

                        <p class="text-center mt-3">
                            Remember your password? <a href="/login">Login here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
